.header1 {
    display: grid;
    grid-template-columns: 80px auto;
    background-color: var(--pink);
    margin-top: -120px;
}

.logotext {
    display: block;
}

.header2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    background-color: var(--white);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 5px double var(--pink);
}

.logo {
    width: 50px;
    margin: 20px;
    padding: 0;
}

.top {
    font-family: "Audiowide", sans-serif;
    font-size: 1.1em;
    margin: 20px 5px;
    text-align: left;
}

.csm {
    font-size: 1em;
    margin-top: -20px;
    margin-left: 5px;
}

.links1 ul{
    display: flex;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    background-color: #000;
    padding: 15px 0;
    margin: -5px 0;
    font-size: 0.9em;
    color: #fff;
    justify-content: center;
}

.links1 a {
    color: #fff;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.links1 a::before, .links1 a::after {
    content: "";
    border: 0.5px solid var(--white);
    margin: 2px;
}

#menu-checkbox:checked ~ .links2 {
    background-color: var(--white);
    display: flex;
    width: 100%;
    position: absolute;
    float: left;
    line-height: 2;
    padding: 0; 
}

.navigation .fa-solid {
    display: block;
    margin: 50px 20px 20px;
}

.links2  {
    font-family: "Audiowide", sans-serif;
    margin-top: 10px;
}

.nav2 {
    font-size: 1em;
    width: 100%;
    height: 300px;
    text-align: center;
    margin-top: 0;
    border-bottom: 5px double var(--pink);
}

.nav2 li {
    font-family: "Audiowide", sans-serif;
    padding: 5px 0px;
    margin-bottom: 15px;
    letter-spacing: 0.4em;
    font-size: 1em;
    font-weight: 600;
}

.nav2 a {
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.nav2 a:hover{
    background-color: var(--pink);
    padding: 10px 0;
    font-size: 1.2em;
    color: var(--white);
}

.logox {
    display: block;
    width: 60px;
    margin: 20px 20px 0;
    float: right;
    grid-row-start: span 2;
}


/*MEDIA*/


@media screen and (min-width: 350px) {


.links1 a {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    padding: 7px;
}

}


@media screen and (min-width: 500px) {


.links1 a {
    font-size: 1em;
    letter-spacing: 0.2em;
    padding: 10px;
}

.links1 a::before, .links1 a::after {
    content: "";
    border: 0.5px solid var(--white);
    margin: 5px;
}
}


@media screen and (min-width: 768px) {

    
.header1 {
    grid-template-columns: 90px auto;
}
     
.logo {
    width: 60px;
}
    
.top {
    font-size: 1.4em;
}
    
.csm {
    font-size: 1.2em;
}
    
.logox {
    width: 70px;
    margin-right: 30px;
}
    
.links1 {
    padding: 2px 0;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    font-weight: bolder;
}
    
.links1 a {
    padding: 10px 20px;
}
    
#menu-checkbox:checked ~ .links2 {
    width: 45%;
    height: 100vh;
    margin-top: -5px;
}

.navigation{
    margin-left: 30px;
}
    
.nav2 {
    border: none;
    margin-top: 30px;
}
    
.nav2 li {
    border: none;
    text-align: left;
    padding: 12px 50px;
    letter-spacing: 0.4em;
}

.links2 {
    margin-left: -30px;
    font-size: 1.1em;
}

}

@media screen and (min-width: 1024px) {
    
.header1 {
    height: 120px;

}
    
.header2{
    height: 120px;
}

.navigation {
    margin-top: 10px;
}

.logo {
    width: 70px;
}
    
.top {
    font-size: 1.6em;
    margin-left: 30px;
    margin-top: 30px;
}
    
.csm {
    font-size: 1.4em;
    margin-left: 30px;
}
    
.logox {
    width: 80px;
}
    
.links1 {
    padding: 4px 0;
}
    
.links1 a {
    padding: 10px 30px 15px;
}
    
#menu-checkbox:checked ~ .links2 {
    width: 35%;
}
    
.nav2 li {
    margin: 20px 0;
}

}
 

@media screen and (min-width: 1440px) {

.header1 {
    height: 160px;
}

.logo {
    width: 90px;
    padding: 20px 0;
}

.top {
    font-size: 2em;
    margin: 45px 40px;
}

.csm {
    font-size: 1.7em;
    margin-top: -40px;
    margin-left: 40px;
}

.links1 ul {
    font-size: 1.2em;
}

.links1 a {
    padding: 10px 40px;
}

.links2 {
    font-size: 1.4em;
}

}