:root {
    --pink: #CB87B4;
    --black: #000;
    --white: #fff;
    
}

body {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0;
}

/*
-----------------
ALL PAGES
-----------------
*/


.h1-name{
    font-family: "Audiowide", sans-serif;
    background-color: var(--pink);
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}
nav a, nav li {
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
}


/*
-----------------
HEADER
-----------------
*/

.header1 {
    display: grid;
    grid-template-columns: 80px auto;
    background-color: var(--pink);
}

.logotext {
    display: block;
}

.header2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.logo {
    width: 50px;
    margin: 20px;
    padding: 0;
}

.top {
    font-family: "Audiowide", sans-serif;
    font-size: 1.1em;
    margin: 20px 5px;
    text-align: left;
}

.csm {
    font-size: 1em;
    margin-top: -20px;
    margin-left: 5px;
}

.links1 ul{
    display: flex;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    background-color: #000;
    padding: 8px 0;
    margin: -15px 0;
    font-size: 0.9em;
    color: #fff;
    justify-content: center;
}

.links1 a {
    color: #fff;
    padding: 7px;
    text-align: center;
    float: right;
    text-decoration: none;
    list-style: none;
}

.links1 a::before, .links1 a::after {
    content: "";
    border: 0.5px solid var(--white);
    margin: 0 5px;
}


#menu-checkbox, .links2, #back  {
    display: none;
}

#menu-checkbox:checked ~ .links2 {
    background-color: var(--white);
    position: absolute;
    display: flex;
    width: 100%;
    position: absolute;
    float: left;
    line-height: 2;
    padding: 0; 
}

.navigation .fa-solid {
    display: block;
    margin: 45px 30px 20px;
}

.links2  {
    font-family: "Audiowide", sans-serif;
    margin-top: 10px;

}

.nav2 {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top:0px;
}

.nav2 li {
    font-family: "Audiowide", sans-serif;
    border: 1px solid var(--pink);
    padding: 5px 0px;
    letter-spacing: 0.3em;
    font-size: 1em;
    font-weight: 600;
}

.nav2 a {
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.logox {
    display: block;
    width: 60px;
    margin: 40px 30px 0;
    float: right;
    grid-row-start: span 2;
}



/*
-----------------
HOME
-----------------
*/

.content-mus {
    background-color: var(--pink);
}

.mus1 {
    display: block;
    background-image: url(images/scott-webb.jpg);
    width: 100%;
    height: 220px;
    background-size: cover;
    background: no-repeat;    
    margin-top: 0px;
    margin-bottom: 15px;    
}

.ex {
    justify-content: center;
    text-align: center;
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 400;
}

/* Line under "Eplorer together"

.ex::after {
    content: "";
    display: block;
    border: 2px solid #000;
    width: 100px;
    opacity: 40%;
    border-radius: 30%;
    margin: 10px auto;
}
*/

.ex-p {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin: 20px auto 0;
    padding-bottom: 30px;
    max-width: 80%;
}

.content-img {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin: 60px 0 0;
    background-color: var(--whitek);
    isolation: isolate;
}

.content-img::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    inset: 0;
    transform: skewY(-8deg);
    z-index: -1;
    height: 80%;
    margin-top: 30px;
    opacity: 0.8;
}

.img1 {
    width: 28%;
    justify-content: center;
    margin: 10px;
    min-height: 190px;
}

.ake {
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    font-size: 1.3em;
    margin: 20px 30px 80px;
    color: var(--pink);
    letter-spacing: 0.1em;
}

.color-head {  
    content: "";
    display: inline-flex;
    background-color: var(--pink);
    width: 100%;
    height: 30px;
    margin-bottom: 50px;
}

.head1, .head2 {
    position: absolute;
    height: 50px;
    font-size: 1.3em;
    text-align: left;
    margin: -5px 0 0 80px;
    padding: 10px;
    background-color: var(--white);
}

.content-explore {
    display: block;
    margin: 10px auto 80px;  
    max-width: 500px;
    justify-content: center;
}

.expl-text {
    display: flex;
    border: 2px solid var(--pink);
    margin: 10px;
    height: 190px;
}

.img2-p {
    font-size: 1em;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: 300;
}

.img2 {
    width: 35%;
}

.content-night {
    background-color: var(--black);
    max-width: 400px;
    display: block;
    margin: 5px auto;
}

.head3 {
    font-size: 24px;
    font-weight: 400;
    background-color: var(--pink);
    text-align: center;
    padding: 30px 0;
}

.img-nitm {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: -30px auto 10px;
}

.text-nitm {
    background-color: var(--black);
    margin-top: -5px;
}

.text-p {
    font-size: 1em;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 300;
    margin: 0 20px;
    padding: 15px 0;
    color: var(--white);
}

.turbine {
    width: 400px;
    margin: 40px auto;
    position: relative;
    justify-content: center;
 
}

.turb-img {
    width: 100%;
       margin: 10px auto;
}

.turb-p h3 {  
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: right;
    margin: 30px 25px 0 80px;
}

.remo {
    position: absolute;
    top: 70%;
    left: 63%;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 25px;
    padding: 3px 10px;
}

.turb-p2 {
    display: none;
}

.content-vspa {
    width: 400px;
    display: block;
    border: 4px solid var(--pink);
    margin: 5px auto 60px;
}

.head5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--pink);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 5px;
    text-align: center;
}

.vspa-img {
    width: 80%;
    margin: 0px auto -4px;
}

.vspa-p {
    margin: 6px;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
}



/*
-----------------
EXHIBITION SPACE
-----------------
*/

.content-cosmos {
    display: block;
    background: #0E0E0C;
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--white);
}

.content-cosmos h2 {
    color: var(--white);
    padding: 30px 0 0;
    margin-top: 20px;
}

.content-cosmos img {
    width: 100%;
    margin: -20px 0;
    object-fit: cover;
    height: 150px;
}

.p-cosmos {
    color: var(--white);
    margin: 0 25px;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

.head-es {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.rm-cosmos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    font-size: 0.9em;
    border-radius: 25px;
    width: 100px;
    padding: 4px 5px;
    text-align: center;
    margin: 40px auto;
}

.content-cosmos a {
    text-decoration: none;
    list-style: none;
}

.article {
    display: block;
    width: 350px;
    margin: 30px auto;
}

.article a {
    text-decoration: none;
    list-style: none;
}

.art-x {
    border: 1px solid var(--black);
    margin: 20px 0;
}

.art-x2 a {
    text-decoration: none;
}

.art-x1, .art-x2 {
    border: 1px solid var(--black);
    margin: 20px 0;

}

.art-img, .art-img2 {
    width: 100%;
    height: auto;
}

.art-name, .art-name1, .art-name2 {
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin: 20px;
    color: var(--white);
}

.art-name, .art-name2 { 
    background-color: var(--black);
}

.art-name2 {
    background-color: var(--black);
}

.art-p, .art-p2 {
    font-size: 1em;
    text-align: center;
    margin: 15px;
}

.art-rm {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    border-radius: 25px;
    width: 100px;
    padding: 4px 5px;
    text-align: center;
    margin: 20px auto 30px;
    text-decoration: none;
}



/*
-----------------
EXPLORE
-----------------
*/

.content-explore2 {
    max-width: 400px;
    margin: 0 auto;
    
}

.h1-name {
    margin-bottom: 40px;
}

.expl-name, .expl-name1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 30px;
}

.box1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #424b54;
    color: var(--white);
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
}

.box-p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;

}

.box2 {
    border: 3px solid var(--pink);
    border-radius: 25px;
    text-align: center;
    margin: 20px 0;
}

.box-img1, .box-img2 {
    width: 100%;
    border-radius: 23px;
}

.box-img1 {
    margin: 0 0 -3px 0;
}

.box-p2 {
    margin: 10px 5px;
}

.box-p3 {
    margin: 20px;
}

.box-p4 {
    margin: 0 20px 70px;
}

.box-img3 {
    display: block;
    width: 390px;
    margin: 0 auto;
}

.box-img4 {
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: 20px 0 20px;
}

.box-img5 {
    display: none;
}

.ex1 {
    width: 400px;
    margin: 0 auto;
}

.line {
    content: "";
    border: 10px solid var(--pink);
    max-width: 100%;
    margin: 40px 0;
}

/*
-----------------
VISIT
-----------------
*/

.content-visit {
    width: 380px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.visit-box {
    border: 1px solid var(--black);
    margin: 20px 15px;
}

.visit-head, .visit-head2 {
    text-transform: uppercase;
    font-size: 1.1em;
    color: var(--pink);
    margin-bottom: 30px;
}

.visit-head2 {
    margin-top: 30px;
}

.visit-p {
    margin: 10px 20px 20px;
}

.contact-p {
    font-size: 0.9em;
    margin-top: 40px;
}

.contact-form {
    width: 80%;
    margin: 0 auto 20px;
}

.name, .email, .phone {
    display: block;
    margin: 10px auto 20px;
    padding: 5px 0;
    width: 80%;
}

.c-name, .c-email, .c-phone {
    display: block;
    padding: 5px 20px;   
    margin: 10px 15px -10px;
    text-align: left;
    color: var(--pink);
}

.c-text {
    width: 80%;
    margin: 10px auto 30px;
}

.c-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    letter-spacing: 0.15em;
    border-radius: 25px;
    background-color: var(--pink);
    color: var(--white);
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    text-transform: uppercase;     
}

.hide-img {
    display: none;
    width: 200px;
}



/*
-----------------
GET INVOLVED
-----------------
*/

.content-inv, .content-inv2 {
    width: 550px;
    text-align: left;
    margin: 20px auto;
}

.content-inv {
    border-bottom: 2px solid var(--pink);
}

.inv1, .inv2{
    display: block;
}

.inv-head, .inv-head2 {
    text-transform: uppercase;
    text-align: left;
    margin: 20px;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.inv-p {
    margin: 20px;
    font-size: 1em;
}

.inv1 .inv-img, .inv2 .inv-img {
    width: 40%;
    float: left;
    margin: 5px 20px 5px;
    border-radius: 15px;
}

.inv2 .inv-img { 
    float: right;
}

.inv-img2 {
    display: flex;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; 
    margin: 20px auto;
}



/*
-----------------
"READ MORE"-BUTTON PAGE
-----------------
*/

.content-read {
    width: 100%;
    padding: 20px 0;
    margin: 30px 0 -30px 0;
    border-top: 1px solid var(--pink);
}

.container-read {
    display: flex;
}

.cr-img {
    width: 100%;
    height: 200px;
    background-image: url("../images/two-children.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-size: contain;
    margin: -150px 30px 0;
}

.read-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 20px;
    color: var(--black);
}

.read-name2 {
    font-size: 1.2em;
    margin: -10px 20px 40px;
    font-weight: 800; 
    color: var(--pink);
}

.read-p, .read-p1 {
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 20px 50px 20px;
    font-size: 1em;
    border-left: 1px solid var(--pink);
    padding-left: 10px;
    color: var(--black);
}

.read-p1 {
    width: 180px;
    font-weight: 600;
    position:initial;
}



/*
-----------------
FOOTER
-----------------
*/

.footer1 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--pink);
    height: 80px;
    padding: 15px 0 20px;
}

.logotext2 {
    display: block;
}

.logo1 {
    display: flex;
    padding: 2px;
    margin: 5px 10px;
    width: 40px;
    height: 40px;
}

.top2 {
    font-family: "Audiowide", sans-serif;
    font-size: 0.65em;
    margin-top: 10px;
}

.csm2 {
    font-size: 0.6em;
    margin-top: -8px;

}

.foot2 {
    display: flexbox;
    margin-right: 20px;
}

.logo2 {
    display: flex;
    width: 20px;
    margin: 50px 2px;
    float: right;
}

/*
-----------------
MEDIA
-----------------
*/

@media screen and (min-width: 768px) {


/*HEADER*/

.header1 {
    grid-template-columns: 90px auto;
}
 
.logo {
    width: 60px;
}

.top {
    font-size: 1.4em;
}

.csm {
    font-size: 1.2em;
}

.logox {
    width: 70px;
    margin: 40px 30px 0;
}

.links1 {
    padding: 10px 0;
    font-size: 1.1em;
    letter-spacing: 0.2em;
    font-weight: bolder;
}

.links1 a {
    padding: 10px 20px;
}

#menu-checkbox:checked ~ .links2 {
    width: 40%;
    height: 100vh;
    margin-top: -5px;
}

.nav2 li {
    border: none;
    text-align: left;
    padding: 12px 30px;
    letter-spacing: 0.4em;
}


/*HOME*/

.mus1 {
    height: 290px;  
    object-fit: cover;
    object-position: 50% 45%;
    
}

.ex {
    justify-content: center;
    text-align: center;
    font-size: 2em;
    letter-spacing: 10px;
    font-weight: 400;
}

.ex::after {
    content: "";
    display: block;
    border: 2px solid var(--black);
    width: 100px;
    opacity: 40%;
    border-radius: 30%;
    margin: 20px auto;
}

.ex-p {
    font-size: 1.3em;
}

.ake {
    font-size: 1.5em;
    margin: 30px 30px 80px;
}

.color-head {  
    height: 40px;
}

.head1, .head2 {
    font-size: 1.4em;
    margin: -5px 0 0 100px;
}

.content-explore {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 10px auto 60px;  
    max-width: 1000px;
}

.img2 {
    width: 40%;
}

.expl-text {
    margin: 5px 15px;
    height: 220px;
}

.img2-p {
    font-size: 1em;
}

.news2 {
    display: flex;
    margin: 20px auto 50px;
    width: 650px;
}

.news3 {
    display: block;
}

.content-night {
    display: block;
    background-color: var(--white);
    border: 2px solid var(--pink);
    width: 270px;
    height: 550px;
    margin-left: 0;
}

.head3 {
    font-size: 1.2em;
    padding: 5px;
    background-color: var(--white);
    color: var(--pink);
    font-weight: 600;
}

.remo {
    display: none;
}

.img-nitm {
    background-color: var(--black);
    width: 270px;
    height: 280px;
    margin: 0;
    object-fit: co;
}

.text-nitm{
    background-color: var(--white);
    margin: 5px 0;
}

.text-p {
    font-size: 1em;
    letter-spacing: 0.8px;
    text-align: left;
    font-weight: 300;
    padding: 5px 0;
    color: var(--black);
}

.turbine {
    border: 2px solid var(--pink);
    background-color: var(--white);
    width: 300px;
    height: 550px;
    margin: 5px 0 0; 
}

.turb-img {
    width: 300px;
    margin-left: -5px;
    margin-top: 25px;
}

.turb-p, .turb-p2 {
    display: block;
    text-align: left;
    font-size: 1em;
    padding: 5px;
}

.turb1 {
    display: block; 
}

.turb2 {
    margin: -15px 5px;
}

.turb-p .head4 {  
    position: relative;
    color: var(--pink);
    font-size: 1.1em;
    text-align: center;
    margin: 10px auto 30px;
    padding: 5px;
}

.remo {
    display: none;
}

.content-vspa {
    display: block;
    border: 4px solid var(--pink);
    width: 630px;
    margin: 10px auto 80px;
}

.head5 { 
    width: 600px;
    margin: 20px auto 10px;
    font-size: 1.2em;
}

.vspa1 {
    display: flex;
    justify-content: center;
}

.vspa-p {
    width: 300px;
    text-align: left;
    font-size: 1em;
}

.vspa-img {
    width: 50%;
    height: 20%;
    margin: 0 -40px;
}



/*EXHIBITION*/

.article {
    display: flex;
    justify-content: space-evenly;
    margin: 30px auto;
}

.art-x {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 160px 190px 60px;
    width: 220px;
    margin: 0 10px;
    border: 1px solid var(--pink);
}

.art-p {
    margin: 5px 10px;
    text-align: center;
}

.art-name {
    font-size: 1em;
    height: 20px;
    margin: 12px 0;
    background-color: var(--pink);
}

.art-img {
    min-width: 220px;
    height: 140px;
}

.article2 {
    display: flexbox;
    width: 700px;
    margin: 20px auto;
}

.art-img2 {
    display: block;
    max-width: 400px;
    object-fit: fill;
    margin: -20px auto;
}

.p-cosmos, .art-p2 {
    width: 620px;
    text-align: center;
    margin: 0 auto 20px;
}



/*EXPLORE*/

.content-explore2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px auto;
    justify-content: space-evenly;
}

.expl-name {
    text-align: left;
    margin-left: 40px;
}

.expl-name1 {
    text-align: center;
    font-size: 1.6em;
}

.box1 .box-p {
    font-size: 1.2em;
}

.ce1 {
    margin: 25px 15px;
}

.box1, .box2 {
    width: 320px;
}

.box2 {
    height: 440px;
}

.box3 {
    display: flexbox;
    width: 700px;
    margin: 0 auto;
}

.box-img1 {
    margin-top: 37px;
}

.box-img3 {
    display: none;
}

.box-img4 {
    margin-left: 20px;
    margin-bottom: 70px;
}

.box-img5 {
    display: block;
    width: 250px;
    height: 250px;
    margin: 20px 0;
    object-fit: cover;
}

.ex1 {
    width: 95%;
    justify-content: center;
}

.box-p3, .box-p4  {
    display: block;
    float: left;
}

.ex1 {
    display: flex;
    justify-content: left;
}



/*VISIT*/

.content-visit {
    display: block;
    min-width: 740px;
    justify-content: center;
    font-size: 1em;
    margin: 30px auto 30px;
}

.visit1, .visit2 {
    display: flex;
    margin: 10px auto;
    justify-content: center;
}

.visit2 {
    justify-content: center;
}

.visit3 .visit-box  {
    width: 150px;
    height: 160px;
}

.visit-box {
    width: 250px;
    margin: 5px;
    padding: 0 15px;
}

.visit-p {
    margin: 15px 5px;
    padding: 0 15px;
}

.visit2 .visit-box {
    width: 350px;
}

.v-box .visit-p {
    margin-bottom: 60px;
    padding: 0 15px;
}

.contact-p {
    margin-top: 20px;
}

.visit-head {
    margin: 20px 0 0;
}

.name, .email, .phone {
    margin: 10px auto 5px;
}

.c-button {
    width: 80%;
    margin: -10px 0 5px;
}

.v-box1, .v-box2, .v-box3 {
    border: 1px solid var(--black);
    width: 350px;
    margin: 5px;
}

.visit-box1  {
    border: none;
}

.visit-head2 {
    padding: 5px;
    margin: 15px 0;
}


/*GET INVOLVED*/

.content-inv {
    display: block;
    margin: 20px;
    border-left: 2px solid var(--pink);
    border-bottom: none;
}

.inv1 .inv-img {
    width: 90%;
    margin: 20px;
}

.inv2 .inv-img {
    width: 90%;
    margin: 20px;
}

.content-inv2 {
    display: block;
    margin: 0 auto 90px 40px;
    border-left: 2px solid var(--pink);
    border-bottom: none;
}

.content-inv2 .inv-p{
    width: 370px;
}

.inv-img2 { 
    margin: 20px 0 0 40px;
}

.gi1 {
    display: flex;
    margin: 20px;
}

.gi2 {
    display: flex;
}




/*"READ MORE"-BUTTON PAGE*/

.content-read {
    margin-left: 40px;
}

.read-p, .read-p1 {
    width: 500px;
    font-size: 1.2em;
    padding-left: 15px;
}

.cr-img {
    height: 300px;
    margin: -200px 30px 0;
}

.read-p1 {
    width: 290px;
}



/*FOOTER*/

.footer1 {
    height: 100px;
}

.logo1 {
    margin: 5px 20px;
    width: 60px;
    height: 60px;
}

.top2 {
    font-size: 1em;
}

.csm2 {
    font-size: 0.9em;
}

.foot2 {
    display: flexbox;
    margin-right: 20px;
}

.logo2 {
    width: 40px;
}


}




@media screen and (min-width: 1024px) {

/*HEADER*/

.header1 {
    height: 120px;
}
 
.logo {
    width: 70px;
}

.top {
    font-size: 1.6em;
    margin-left: 30px;
    margin-top: 30px;
}

.csm {
    font-size: 1.4em;
    margin-left: 30px;
}

.logox {
    width: 80px;
}

.links1 {
    padding: 10px 0;
    font-size: 1.2em;
}

.links1 a {
    padding: 10px 30px 15px;
}

#menu-checkbox:checked ~ .links2 {
    width: 35%;
}

.nav2 li {
    margin: 20px 0;
}



/*HOME*/

.mus1 {
    height: 400px;  
}

.h1-name {
    font-size: 1.8em;
}
.ex {
    font-size: 2.5em;
    font-weight: 700;
}

.ex::after {
    margin: 10px auto;
}

.ex-p {
    font-size: 1.3em;
}

.head1, .head2 {
    font-size: 1.6em;
    margin: -5px 0 0 150px;
}

.content-img
.img2 {
    width: 60%;
}

.expl-text {
    margin: 5px 20px;
    height: 240px;
}

.img2-p {
    font-size: 1.2em;
}

.news2 {
    margin: 20px auto 50px;
    width: 800px;
}

.content-night {
    width: 370px;
    height: 550px;
}

.head3 {
    font-size: 1.2em;
    padding: 0px;
}

.img-nitm {
    width: 370px;
    height: 290px;
    object-fit: cover;
}

.text-p {
    font-size: 1.2em;
}

.turbine {
    width: 400px;
    height: 550px;
}

.turb-img {
    width: 400px;
    height: 220px;
    margin-top: 0px;
}

.turb-p, .turb-p2 {
    font-size: 1.1em;
    padding: 5px;
}

.content-vspa {
    width: 800px;
}

.vspa-p {
    width: 350px;
    font-size: 1.2em;
}



/*EXHIBITION*/

.content-cosmos {
    max-width: 1200px;
    justify-content: center;
    margin: auto;
}

.article {
    max-width: 1000px;
    margin: auto;
}

.art-x {
    margin: 30px 10px ;
    min-width: 280px;
    height: 470px;
}

.art-p {
    font-size: 1.1em;
    text-align: center;
}

.art-name {
    font-size: 1.2em;
}

.head-es, .art-name2 {
    font-size: 1.4em;
}

.art-img {
    min-width: 220px;
    height: 140px;
}

.article2 {
    width: 800px;
    margin: 20px auto 60px;
}

.p-cosmos, .art-p2 {
    font-size: 1.2em;
    width: 750px;
}




/*EXPLORE*/

.content-explore2 {
   max-width: 800px;
}

.expl-name {
    font-size: 1.4em;
}

.expl-name1 {
    font-size: 1.7em;
}

.box1 .box-p {
    font-size: 1.3em;
}

.box1, .box2 {
    width: 400px;
}

.box2 {
    height: 500px;
    font-size: 1.2em
}

.box-img1 {
    margin-top: 25px;
}

.box-img4 {
    margin-left: 20px;
    margin-bottom: 70px;
}

.box3 {
   width: 800px;
}

.ex1 {
    width: 95%;
    justify-content: center;
}

.box-p2 {
    margin: 5px 15px;
}

.box-p3, .box-p4  {
    font-size: 1.2em;
}

.ex1 {
    display: flex;
    justify-content: left;
}


/*VISIT*/

.content-visit {
    min-width: 1000px;
    max-width: 1300px;
    margin: 20px auto;
}

.visit2 {
    width: 1000px;
    justify-content: center;
}

.contact-form {
    width: 95%;
}

.visit1 .visit-box {
    width: 350px;
    height: 350px;
    font-size: 1.2em;
}

.visit3 .visit-box  {
    width: 280px;
    height: 150px;
    font-size: 1.2em;
}

.visit2 .visit-box {
    width: 320px;
    height: 650px;
    font-size: 1.2em;
    margin: 5px;
}

.hide-img {
    display: contents;
}

.visit2 .c-img  {
    display: block;
    width: 280px;  
    height: 700px;
    margin: -45px 5px;
    object-fit: cover;    
}

.v-box .visit-p {
    margin-bottom: 10px;
    padding: 5px;
}



/*GET INVOLVED*/
/*
.gi1 {
    width: 1000px;
    margin: auto;
    justify-content: center;
} 

.gi2 {
}

.content-inv {
    font-size: 1.2em;
    width: 500px;
}

.content-inv2 {
    border-left: none;
    justify-content: center;
    border-top: 2px solid var(--pink);
    margin: 30px auto 60px 30px;
    font-size: 1.2em;
    width: 700px;
}


.inv-img2 {
    width: 300px;
    height: 300px;
    margin-left: 80px;
}

.content-inv2 .inv-p{
    width: 430px;
    justify-content: center;
}

*/



/*"READ MORE"-BUTTON PAGE*/

.content-read {
    margin-left: 40px;
    margin-bottom: 30px;
}

.read-name {
    font-size: 1.8em;
}

.read-name2 {
    font-size: 1.4em;
}

.cr-img {
    height: 450px;

}

.read-p {
    width: 700px;
    font-size: 1.3em;
    padding-left: 20px;
}

.read-p1 {
    width: 420px;
    font-size: 1.4em;
}




}

/*








.read-p1 {
    width: 290px;
}




}

