







.background1 {
    display: block;
    background-image: url(/images/other/woods.jpg);
    height: 350px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15px;
    margin-bottom: 15px;
    object-position: 0 -20%;

}