:root {
    --pink: #CB87B4;
    --black: #000;
    --white: #fff;
    
}

body {  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0;
}

/*ALL PAGES*/

.h1-name{
    font-family: "Audiowide", sans-serif;
    background-color: var(--pink);
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
}
nav a, nav li {
    text-decoration: none;
    list-style: none;
}

p {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
}



/*HEADER*/

.header1 {
    display: grid;
    grid-template-columns: 80px auto;
    background-color: var(--pink);
}

.logotext {
    display: block;
}

.header2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.logo {
    width: 50px;
    margin: 20px;
    padding: 0;
}

.top {
    font-family: "Audiowide", sans-serif;
    font-size: 1.1em;
    margin: 20px 5px;
    text-align: left;
}

.csm {
    font-size: 1em;
    margin-top: -20px;
    margin-left: 5px;
}

.links1 {
    display: flex;
    width: 100%;
    font-family: 'Rajdhani', sans-serif;
    background-color: #000;
    padding: 8px 0;
    font-size: 0.9em;
    color: #fff;
    justify-content: center;
}

.links1 a {
    color: #fff;
    padding: 7px;
    text-align: center;
    float: right;
    text-decoration: none;
    list-style: none;
}

.links1 a::before, .links1 a::after {
    content: "";
    border: 0.5px solid var(--white);
    margin: 0 5px;
}


#menu-checkbox, .links2, #back  {
    display: none;
}

#menu-checkbox:checked ~ .links2 {
    background-color: var(--white);
    position: absolute;
    display: flex;
    width: 100%;
    position: absolute;
    float: left;
    line-height: 2;
    padding: 0; 
}

.navigation .fa-solid {
    display: block;
    margin: 45px 30px 20px;
}

.links2  {
    font-family: "Audiowide", sans-serif;
    margin-top: 50px;
}

.nav2 {
    font-size: 1em;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.nav2 li {
    font-family: "Audiowide", sans-serif;
    border: 1px solid var(--pink);
    padding: 5px 40px;
    letter-spacing: 0.3em;
    font-size: 1em;
    font-weight: 600;
}

.nav2 a {
    text-decoration: none;
    list-style: none;
    color: var(--black);
}

.logox {
    display: block;
    width: 60px;
    margin: 20px 30px 0;
    float: right;
    grid-row-start: span 2;
}



/*HOME*/

.content-mus {
    background-color: var(--pink);
}

.mus1 {
    display: block;
    background-image: url(images/scott-webb.jpg);
    width: 100%;
    height: 220px;
    background-size: cover;
    background: no-repeat;    
    margin-top: 0px;
    margin-bottom: 15px;    
}

.ex {
    justify-content: center;
    text-align: center;
    font-size: 26px;
    letter-spacing: 4px;
    font-weight: 400;
}

/* Line under "Eplorer together"

.ex::after {
    content: "";
    display: block;
    border: 2px solid #000;
    width: 100px;
    opacity: 40%;
    border-radius: 30%;
    margin: 10px auto;
}
*/

.ex-p {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    margin: 20px auto 0;
    padding-bottom: 30px;
    max-width: 80%;
}

.content-img {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
    margin: 60px 0 0;
    background-color: var(--whitek);
    isolation: isolate;
}

.content-img::after {
    content: "";
    position: absolute;
    background-color: var(--pink);
    inset: 0;
    transform: skewY(-8deg);
    z-index: -1;
    height: 80%;
    margin-top: 30px;
}

.img1 {
    width: 28%;
    justify-content: center;
    margin: 10px;
    min-height: 190px;
}

.ake {
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    font-size: 1.3em;
    margin: 20px 30px 80px;
    color: var(--pink);
    letter-spacing: 0.1em;
}

.head1, .head2 {
    font-size: 24px;
    margin-top: 50px;
    margin: 10px auto;
    text-align: center;
}

.head1::before, .head1::after, .head2::before, .head2::after {
    content: "";
    display: inline-flex;
    background-color: var(--pink);
    min-width: 15%;
    max-width: 150%;
    height: 20px;
    margin: 2px;
    padding-bottom: 4px;
    border-inline: 1px solid var(--pink);
}

.head1::after {
    min-width: 45%;
}

.head2::after {
    min-width: 60%;
    max-width: 150%;
}

.content-explore {
    display: block;
    margin: 10px auto 80px;  
    max-width: 500px;
    justify-content: center;
}

.expl-text {
    display: flex;
    border: 2px solid var(--pink);
    margin: 10px;
    height: 190px;
}

.img2-p {
    font-size: 1em;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 0.6px;
    text-align: center;
    font-weight: 300;
}

.img2 {
    width: 35%;
}

.content-night {
    background-color: var(--black);
    max-width: 400px;
    display: block;
    margin: 5px auto;
}

.head3 {
    font-size: 24px;
    font-weight: 400;
    background-color: var(--pink);
    text-align: center;
    padding: 30px 0;
}

.img-nitm {
    width: 390px;
    height: 400px;
    object-fit: cover;
    margin: -30px auto 10px;
}

.text-nitm {
    background-color: var(--black);
    margin-top: -5px;
}

.text-p {
    font-size: 1em;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 300;
    margin: 0 20px;
    padding: 15px 0;
    color: var(--white);
}

.turbine {
    margin: 40px 5px;
    position: relative;
}

.turb-img {
    width: 100%;
    height: 200px;
}

.turb-p h3 {  
    position: absolute;
    top: 0;
    right: 0;
    color: var(--white);
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: right;
    margin: 30px 25px 0 80px;
}

.remo {
    position: absolute;
    top: 70%;
    left: 63%;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 25px;
    padding: 3px 10px;
}

.turb-p2 {
    display: none;
}

.content-vspa {
    display: inline-block;
    border: 4px solid var(--pink);
    margin: 5px 20px 60px;
}

.head5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--pink);
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 5px;
    text-align: center;
}

.vspa-img {
    width: 80%;
    margin: 0px 0px -10px;
}

.vspa-p {
    margin: 6px;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.2em;
}


/*EXHIBITION SPACE*/

.content-cosmos {
    display: block;
    background: #0E0E0C;
    width: 100%;
    margin-top: 20px;
    border: 1px solid var(--white);
}

.content-cosmos h2 {
    color: var(--white);
    padding: 30px 0 0;
    margin-top: 20px;
}

.content-cosmos img {
    width: 100%;
    margin: -20px 0;
    object-fit: cover;
    height: 150px;

}

.p-cosmos {
    color: var(--white);
    margin: 0 25px;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}

.head-es {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.rm-cosmos {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    font-size: 0.9em;
    border-radius: 25px;
    width: 100px;
    padding: 4px 5px;
    text-align: center;
    margin: 40px auto;
}

.content-cosmos a {
    text-decoration: none;
    list-style: none;
}

.article {
    display: block;
    margin: 30px;
}

.article a {
    text-decoration: none;
    list-style: none;
}

.art-x {
    border: 1px solid var(--black);
    margin: 20px 0;
}

.art-x1, .art-x2 {
    border: 1px solid var(--black);
    margin: 20px 0;

}

.art-img, .art-img2 {
    width: 100%;
    height: auto;
}

.art-name, .art-name1, .art-name2 {
  
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400; 
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin: 20px;
    color: var(--white);
}

.art-name, .art-name2 { 
    background-color: var(--black);
}

.art-name2 {
    background-color: var(--black);
}

.art-p, .art-p2 {
    font-size: 1em;
    text-align: center;
    margin: 15px;
}

.art-rm {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.9em;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    border-radius: 25px;
    width: 100px;
    padding: 4px 5px;
    text-align: center;
    margin: 20px auto 30px;
}


/*EXPLORE*/

.content-explore2 {
    max-width: 400px;
    margin: 0 auto;
}

.expl-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
}

.box1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #2C77BB;
    color: var(--white);
    padding: 5px 10px;
    font-size: 1em;
    text-align: center;
  
}

.box-p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;

}

.box2 {
    border: 3px solid var(--pink);
    border-radius: 25px;
    text-align: center;
    margin: 20px 0;
}

.box-img1, .box-img2 {
    width: 100%;
    border-radius: 23px;
}

.box-img1 {
    margin: 0 0 -3px 0;
}

.box-p2 {
    margin: 10px 5px;
}

.box-img3 {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.box-img4 {
    width: 400px;
    height: 250px;
    object-fit: contain;
    margin: 20px 0 70px;
}

.box-img5 {
    display: none;
}

.ex1 {
    width: 400px;
    margin: 0 auto;
}



.line {
    content: "";
    border: 10px solid var(--pink);
    width: 100%;
    margin: 40px 0;
}


/*VISIT*/

.content-visit {
    width: 400px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.visit-box {
    border: 1px solid var(--black);
    margin: 20px 15px;
}

.visit-head, .visit-head2 {
    text-transform: uppercase;
    font-size: 1.1em;
    color: var(--pink);
    margin-bottom: 30px;
}

.visit-head2 {
    margin-top: 30px;
}


.visit-p {
    margin: 10px 20px 20px;
}

.contact-p {
    font-size: 0.9em;
    margin-top: 40px;
}

.contact-form {
    margin: 0 0 20px;
    
}

.name, .email, .phone {
    display: block;
    margin: 10px auto 20px;
    padding: 5px 0;
    width: 80%;
}
.c-name, .c-email, .c-phone {
    display: block;
    padding: 5px 20px;   
    margin: 10px 15px -10px;
    text-align: left;
    color: var(--pink);
}

.c-text {
    width: 80%;
    margin: 10px auto 30px;
}

.c-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    letter-spacing: 0.15em;
    border-radius: 25px;
    background-color: var(--pink);
    color: var(--white);
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    text-transform: uppercase;     
}

.hide-img {
    display: none;
}


/*GET INVOLVED*/

.content-inv, .content-inv2 {
    max-width: 90%;
    text-align: left;
    margin: 50px auto;
    border-top: 2px solid var(--pink);
}

.inv-head, .inv-head2 {
    text-transform: uppercase;
    text-align: left;
    margin: 20px;
    font-size: 1.3em;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.inv-p {
    margin: 20px 15px;
    font-size: 1em;
}

.inv-img {
    width: 100%
}

.inv-img2 {
    display: flex;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%; 
    margin: 20px auto;
}


/*"READ MORE"-BUTTON PAGE*/

.content-read {
    width: 100%;
    padding: 20px 0;
    margin: 30px 0 -30px 0;
    border-top: 1px solid var(--pink);
}

.container-read {
    display: flex;
}

.cr-img {
    width: 100%;
    height: 200px;
    background-image: url("../images/two-children.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-size: contain;
    margin: -150px 30px 0;
}

.read-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 20px;
    color: var(--black);
}

.read-name2 {
    font-size: 1.2em;
    margin: -10px 20px 40px;
    font-weight: 800; 
    color: var(--pink);
}

.read-p, .read-p1 {
    width: 70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px 20px 50px 20px;
    font-size: 1em;
    border-left: 1px solid var(--pink);
    padding-left: 10px;
    color: var(--black);
}

.read-p1 {
    width: 180px;
    font-weight: 600;
    position:initial;
}

 
/*FOOTER*/

.footer1 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: var(--pink);
    height: 80px;
    padding: 15px 0 20px;
}

.logotext2 {
    display: block;
}

.logo1 {
    display: flex;
    padding: 2px;
    margin: 5px 10px;
    width: 40px;
    height: 40px;
}

.top2 {
    font-family: "Audiowide", sans-serif;
    font-size: 0.65em;
    margin-top: 10px;
}

.csm2 {
    font-size: 0.6em;
    margin-top: -8px;

}

.foot2 {
    display: flexbox;
    margin-right: 20px;
}

.logo2 {
    display: flex;
    width: 20px;
    margin: 50px 2px;
    float: right;
}


/*MEDIA*/

@media only screen and (min-width: 760px) and (max-width: 1024px) {


/*ALL*/

p {
    font-size: 1.2em;
}


/*HEADER*/

.header1 {
    grid-template-columns: 90px auto;
}
 
.logo {
    width: 60px;
}

.top {
    font-size: 1.4em;
}

.csm {
    font-size: 1.2em;
}

.logox {
    width: 70px;
    margin: 30px 30px 0;
}

.links1 {
    padding: 10px 0;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}

.links1 a {
    padding: 10px 20px;
}

#menu-checkbox:checked ~ .links2 {
    width: 40%;
    height: 100vh;
    margin-top: -5px;
}

.nav2 li {
    border: none;
    text-align: left;
    padding: 12px 30px;
    letter-spacing: 0.4em;
}


/*HOME*/

.mus1 {
    height: 270px;  
}

.ex {
    justify-content: center;
    text-align: center;
    font-size: 2em;
    letter-spacing: 10px;
    font-weight: 400;
}

.ex::after {
    content: "";
    display: block;
    border: 2px solid var(--black);
    width: 100px;
    opacity: 40%;
    border-radius: 30%;
    margin: 20px auto;
}

.ex-p {
    font-size: 1.3em;
}

.ake {
    font-size: 1.5em;
    margin: 30px 30px 80px;
}


.head1, .head2 {
    font-size: 1.5em;
    margin-top: 50px;
    margin: 10px auto;
    text-align: center;
}

/*
.head1::before, .head1::after, .head2::before, .head2::after {
    content: "";
    display: block;
    background-color: var(--pink);
  width: 100%;
    height: 2px;
    margin: 0 10px;
    border-inline: 1px solid var(--pink);
}
*/

.content-explore {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin: 10px 10px 60px;  
    max-width: 1000px;
}

.img2 {
    width: 38%;
}

.expl-text {
    margin: 5px 3px;
    height: 220px;
}

.img2-p {
    font-size: 1em;
}

.news2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3 1fr);
    margin: 30px 20px 20px;
    max-width: 700px;
}

.content-night {
    display: flexbox;
    background-color: var(--white);
    border: 2px solid var(--pink);
    min-width: 500px;
    max-height: 380px;
}

.news3 {
    display: flex;
}

.head3 {
    font-size: 1.3em;
    padding: 5px;
    background-color: var(--white);
    color: var(--pink);
}

.remo {
    display: none;
}

.img-nitm {
    background-color: var(--black);
    min-width: 240px;
    height: 300px;
    margin: 0px;
    object-fit: fill;
}

.text-nitm{
    background-color: var(--white);
    height: 300px;
}

.text-p {
    font-size: 1.3em;
    letter-spacing: 0.8px;
    text-align: center;
    font-weight: 300;
    margin: 10px;
    padding: 5px;
    color: var(--black);
}

.turbine {
    border: 2px solid var(--pink);
    width: 500px;
    margin: 20px auto;
}

.turb-p, .turb-p2 {
    display: block;
    text-align: center;
    font-size: 1em;
}

.turb1 {
    display: flex; 
}

.turb2 {
    margin: -20px 5px;
}

.turb-img {
    width: 250px;
    object-position: 20px
}

.turb-p h3 {  
    position: relative;
    color: var(--pink);
    font-size: 1.3em;
    text-align: center;
    margin: 5px auto;
    padding: 20px 0;
}

.remo {
    display: none;
}

.content-vspa {
    display: inline-block;
    border: 4px solid var(--pink);
    margin: 5px 20px 60px;
}

.head4 {
    font-weight: 600;
    margin: 20px 60px 60px;
    text-align: center;
}

.content-vspa {
    display: flex;
    max-width: 600px;
    margin: 20px auto;
}

.vspa-p {
    display: flex;
    margin: 10px 30px;
    text-align: left;
    font-size: 1.em;
    font-weight: 300;
    line-height: 1.2em;
}

.vspa-img {
    width: 300px;
    margin: 0px 0px -10px;
}



/*EXHIBITION*/

.article {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 10px;
}

.art-x {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 160px 190px 60px;
    width: 220px;
    max-width: 300px;
    border: 1px solid var(--pink);
}

.art-p {
    margin: 5px 8px;
}

.art-name {
    font-size: 1em;
    margin: 10px 0;
    background-color: var(--pink);
}

.art-img {
    min-width: 220px;
    height: 140px;
}

.article2 {
    display: flexbox;
    width: 700px;
    margin: 20px auto;
}

.art-img2 {
    display: block;
    max-width: 400px;
    object-fit: fill;
    margin: -20px auto;
}

.p-cosmos, .art-p2 {
    width: 550px;
    text-align: center;
    margin: 0 auto 20px;
}

.content-explore2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px auto;
    justify-content: space-evenly;
}

.ce1 {
    margin: 25px 15px;
}

.box1, .box2 {
    width: 320px;
}

.box3 {
    display: flexbox;
    width: 700px;
    margin: 0 auto;
}

.box-img3 {
    display: none;
}

.box-img5 {
    display: block;
    width: 300px;
    height: 200px;
    margin: 30px;
}

.ex1 {
    width: 100%;
}

.box-p3 {
    display: block;
    width: 400px;
}

.ex1 {
    display: flex;
}



/*VISIT*/

.content-visit {
    display: block;
    width: 700px;
    justify-content: center;
    font-size: 1em;
    margin: 30px auto 30px;
}

.visit1, .visit2 {
    display: flex;
}

.visit2 {
    justify-content: center;
}

.visit3 .visit-box  {
    width: 200px;
    height: 150px;
}

.visit-box {
    width: 250px;
    margin: 5px;
    padding: 0 05px;
}

.visit-p {
    margin: 10px 5px;
}

.visit2 .visit-box {
    width: 350px;
}

.visit-head {
    margin: 30px 0 0;
}

.name, .email, .phone {
    margin: 10px auto 5px;
}

.v-box1, .v-box2, .v-box3 {
    border: 1px solid var(--black);
    width: 350px;
    margin: 5px;
}

.visit-box1  {
    border: none;
}

.visit-head2 {
    padding: 15px 0;
}


/*GET INVOLVED*/

.gi1 {
    display: flex;
    margin: 20px;
}

.content-inv {
    display: block;
    margin: 20px;
    border-left: 1px solid var(--pink);
}

.gi2 {
    display: flex;
}

.inv-img2 { 
    margin-top: -10px;
}



/*"READ MORE"-BUTTON PAGE*/

.content-read {
    margin-left: 20px;
}

.read-p, .read-p1 {
    width: 500px;
    font-size: 1.2em;
    padding-left: 15px;
}

.cr-img {
    height: 300px;
    margin: -200px 30px 0;
}

.read-p1 {
    width: 290px;
}


}





@media only screen and (min-width: 1025px) and (max-width: 1250px) {


}
